<div class="my-4 container">
    <h3>Chỉnh Sửa</h3>
    <div class="form-group mt-2">
        <label for="name">Tên loại ghế</label>
        <input type="text" [(ngModel)]="categorySeat.categorySeatName" class="form-control" id="name" name="name" />
    </div>
    <div class="form-group mt-2">
        <label for="name">Giá ghế</label>
        <input type="text" [(ngModel)]="categorySeat.price" class="form-control" id="name" name="name" />
    </div>
    
    <button (click)="save()" type="submit" class="btn btn-primary mt-4">Lưu</button>
</div>
