<div class="my-4 container">
    <h3>Chỉnh Sửa</h3>
    <form method="POST" action="store">
        <div class="form-group mt-2">
            <label for="name">Tên ghế</label>
            <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div>
            <label for="name">Tên rạp</label>
            <select            
            class="form-select mt-2 mb-4 w-100"
            aria-label="Default select example">
            <option >đầu b</option>
            </select>
        </div>   
        <div>
            <label for="name">Tên phòng</label>
            <select            
            class="form-select mt-2 mb-4 w-100"
            aria-label="Default select example">
            <option >đầu b</option>
            </select>
        </div>
        <div>
            <label for="name">Loại ghế</label>
            <select            
            class="form-select mt-2 mb-4 w-100"
            aria-label="Default select example">
            <option >đầu b</option>
            </select>
        </div>             
        <button type="submit" class="btn btn-primary mt-4">Lưu</button>
    </form>
</div>

