<div class="my-4 container">
    <h3>Thêm phòng chiếu</h3>
    <form method="GET" action="admin/room">
        <div class="form-group mt-2">
            <label for="name">Tên phòng</label>
            <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div>
            <label for="name">Tên rạp</label>
            <select
            
            class="form-select mt-2 mb-4 w-100"
            aria-label="Default select example"
           
        >
            <option >đầu b</option>
        </select>
    </div>            
        <button type="submit" class="btn btn-primary mt-4">Thêm</button>
    </form>
</div>

