<div class="me-5 container px-5">
    <h1 class="h3 my-4 text-gray-800">Danh Sách ghế</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-secondary">ghế</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="d-flex justify-content-between my-2 mb-4">
                        <div>
                            <div class="dataTables_length" id="dataTable_length" cla>
                                <a type="button" class="btn btn-secondary com-sm-6" href="/admin/create-seat">Thêm ghế Mới</a>
                                <a type="button" class="btn btn-secondary ms-2" href="javascript:window.top.location.reload(true)"
                                    ><i class="fas fa-sync-alt"></i
                                ></a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <select class="form-select" [(ngModel)]="items" style="width: 200px" aria-label="Default select example">
                                <option value="1">10 Bản ghi</option>
                                <option value="2">20 bản ghi</option>
                                <option value="5">50 bản ghi</option>
                                <option value="10">100 bản ghi</option>
                            </select>
                            <div class="input-group rounded">
                                <input
                                    type="search"
                                    class="form-control rounded"
                                    placeholder="Tìm Kiếm"
                                    aria-label="Search"
                                    aria-describedby="search-addon"
                                />
                                <span class="input-group-text border-0" id="search-addon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table
                                class="table table-bordered table-striped mb-5"
                                id="dataTable"
                                width="100%"
                                cellspacing="0"
                                role="grid"
                                aria-describedby="dataTable_info"
                                style="width: 50%"
                            >
                                <thead>
                                    <tr role="row">
                                        <th
                                            
                                        >
                                            Tên ghế
                                        </th>
                                        <th
                                            class="sorting"
                                            tabindex="0"
                                            aria-controls="dataTable"
                                            rowspan="1"
                                            colspan="1"
                                            aria-label="Position: activate to sort column ascending"
                                            style="width: 172px"
                                        >
                                            Tên phòng
                                        </th>
                                        <th
                                            class="sorting"
                                            tabindex="0"
                                            aria-controls="dataTable"
                                            rowspan="1"
                                            colspan="1"
                                            aria-label="Position: activate to sort column ascending"
                                            style="width: 172px"
                                        >
                                            Tên rạp
                                        </th>
                                        <th
                                            class="sorting"
                                            tabindex="0"
                                            aria-controls="dataTable"
                                            rowspan="1"
                                            colspan="1"
                                            aria-label="Position: activate to sort column ascending"
                                            style="width: 172px"
                                        >
                                            Tên loại ghế
                                        </th>

                                        

                                        <th style="width: 8px"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="odd" *ngFor="let seat of seats | paginate: { itemsPerPage: items, currentPage: p }">
                                        <td style="font-size: 15px">{{ seat.seatName }}</td>
                                        <td>{{ seat.roomName }}</td>
                                        <td>{{ seat.cinemaName }}</td>
                                        <td>{{ seat.categorySeatName }}</td>
                                        <td></td>
                                        
                                        <td class="text-center">
                                            <a href="/admin/edit-seat" class="me-2 text-decoration-none text-secondary"
                                                ><i class="fa fa-pen" aria-hidden="true"></i
                                            ></a>
                                            <a
                                                href=""
                                                class="ms-1 text-danger text-decoration-none"
                                                data-bs-toggle="modal"
                                                data-bs-target="#exampleModal"
                                                ><i class="fa fa-trash" aria-hidden="true"></i
                                            ></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Xóa ghế</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">Bạn chắc chắn muốn xóa ghế này?</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                                            <button id="btn-delete-course" type="button" class="btn btn-danger">Có</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

